<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Brand</a>
		</div>
		
	</div>
</nav>


<div class="dashHeader">
	<h1>Welcome, {{IC.user.local.name}}!</h1>
</div>


<a href="#/newItem"><button>Find an item</button></a>

<button>Found</button> || <button>Not Found</button>
<br>

<h2>Items will go here</h2>
<table>

</table>

