<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Found It</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="#/dashboard">Dashboard</a></li>
				<li class="active"><a href="#/newItem">Find<span class="sr-only">(current)</span></a></li>
			</ul>
		</div>
	</div>
</nav>
<h1>Create a new item listing</h1>


<form>
Item name/type: <input type="text" ng-model="itemInfo.itemName"></input>
Description: <input type="text" placeholder="(size, color, etc)" ng-model="itemInfo.detail"></input>

Location: <input type="text" placeholder="what area are you looking for item in?" ng-model="itemInfo.location"></input>

<img id="itemImage" ng-src="{{image_source}}">
Image: <input type="file" name="file" id="trigger" onchange="angular.element(this).scope().setFile(this)" accept="image/*"></input>
<canvas id="myCanvas" width="250" height="300" hidden></canvas>
<button ng-click="createItem()">Add item</button>

</form>